
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 ***********************************************
*/
.nettoyeur {
    clear:both;
    float:none;
}

body {
    font-family:sans-serif;
	background-color:#668F5D;
	background-image:url("../images/back-gris-transparent.png");
	background-repeat:repeat-x;
}

.entete {
	position:relative;
	width:958px;
	height:100px;
	margin:0 auto 0 auto;
	background-color:#fff;
	background-image:url(../images/filet-gris.png);
	background-repeat:repeat-x;
	background-position:335px 0px
}

.logo {
	position:absolute;
	top:10px;
}

.onglet {
	clear:both;
    width:737px;/*958px*/
	margin:0 auto 0 auto;
	min-height:500px;
	background:#fff;
	background-repeat:repeat-x;
	background-image:url(../images/back-gris.jpg);
}

.menu {
    position:absolute;
	top:64px;
	left:430px;
    text-align:center;
}

.menu>span{
	display: block;
	float:left;
	height:36px;
	line-height:36px;
	font-size: 12px;
}

.menu>.titre{
	padding-right:70px;
}

.menu>.bouton {
	border:none;
	color:white;
	padding:0 10px 0 10px;
	cursor:pointer
}

.menu>.spacer {
	width:40px;
}

.menu>.utilisateur {
	width:160px;
	text-align:center
}

.menu>.btnResultat {
	background-color:#0EAD03;
	
}

.menu>.btnExercice {
	background-color:#006b8f;
	border:none;
	color:white;
}
.menu>.btnDeconnexion {
	background-color:#FF3D00;
	border:none;
	color:white;
}

.widget {
    /*height:100%;*/
    font-size:12px;
}

.widget .header {
    margin:5px;
    font-weight:bold;
}

.widget .content {
    margin:5px;
}
.widget .footer {
    margin:5px;
}

.ui-dialog-titlebar {
	display:none;
}

.modalChoixAppareil{
	display:none;
}

.widget.modalChoixAppareil.ui-dialog-content.ui-widget-content{
	text-align:center;
	font-size:18px;
	font-weight:200;
	background: #0097a7;
	color:#fff;
}

.modalChoixAppareil .button-bar{
	width:240px;
	margin:40px auto;
}

.modalChoixAppareil .bouton {
	border:1px solid #ccc;
	padding:5px;
	width:80px;
	cursor:pointer;
	background: #ffeb3b;
	color:#000;
}
.modalChoixAppareil .oui{
	float:left;
}

.modalChoixAppareil .non{
	float:right;
}
/* la page sommaire */

.panelSommaireEleve {
	clear:both;
}
.panelSommaireEleve .seance {
	clear:both;
    text-align:center;
}
.panelSommaireEleve .seance>.nom {
    display:block;
    padding:10px;
    font-weight:bold;
    font-size:16px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd
}

.panelSommaireEleve .liste-exercice {
    display:block;
    clear:both;
    float:none;
    width:800px;
    margin:auto;
    text-align:center;
}

.panelSommaireEleve .exercice {
    display:block;
    float:left;
    width:100px;
	overflow:hidden;
    margin:10px;
    font-weight:normal;
    font-size:14px;
    text-align:center;
	cursor:pointer
}

.panelSommaireEleve .exercice .nom {
	display:block;
	font-size:12px;
	width:100%;
	height:36px;
	overflow:auto
}

.panelSommaireEleve .exercice .icone-exo {
    display:block;
    margin:auto;
    margin-top:10px;
    width:51px;
    height:41px;
	font-size:24px;
	font-weight:bold;
	line-height:41px;
	color:#fff;
	background-image:url('../images/icone-exo.png');
	background-repeat:no-repeat
}
.panelSommaireEleve .exercice img {
	width:100px;
}
.panelSommaireEleve .exercice .star {
    display:block;
	width:0px;
	height:19px;
	overflow:visible;
	background-color:gold;
	background-repeat:no-repeat;
}

.panelExerciceEleve {
	display:none;
}

#conteneur-exo {
	/*border:1px solid #ddd*/
}

/* la page resultats */
.onglet.resultat {
	display:none;
	font-size:14px;
}

.onglet.resultat .panelJourneeEleve {
	float:left;
	width:210px;
	margin:10px;
}

.onglet.resultat .panelJourneeEleve li {
	border-bottom:1px solid #ddd;
	font-size:14px;
	padding:5px;
	cursor:pointer;
}

.onglet.resultat .panelResultatEleve {
	float:left;
	width:450px;
	margin:10px;
}

.onglet.resultat .panelResultatEleve .header, .onglet.resultat .panelJourneeEleve .header {
	font-size:16px;
}

.onglet.resultat .panelResultatEleve li {
	border-bottom:1px solid #ddd;
	height:16px;
	font-size:14px;
	line-height:16px;
	padding:5px;
	cursor:default;
}

.onglet.resultat .panelResultatEleve li span {
	display:block;
	float:left;
	line-height:16px;
}

.onglet.resultat .panelResultatEleve span.heure {
	width:65px;
}

.onglet.resultat .panelResultatEleve span.nom {
	width:235px;
	overflow:hidden
}

.onglet.resultat .panelResultatEleve span.score {
	width:80px;
	text-align:right;
}

.onglet.resultat .panelResultatEleve span.percent {
	width:50px;
	text-align:right;
	
}
